## Challenge: Calculate rolling statistics, such as rolling mean or rolling standard deviation, for a time series.

## Purpose of rolling function

The primary purpose of the rolling() function is to analyze trends, patterns, and variations in your time series data. 

By specifying a window size, you define the number of data points to include in each calculation. The window_size allows you to control how finely you want to analyze your data. 

A smaller window_size creates a fine-grained analysis, whereas a larger window_size provides a coarser analysis.

This window moves along the data as you calculate rolling statistics, providing insights into how data changes over time.

Rolling calculations can smooth out noisy data by averaging or summarizing data points within the rolling window.

## Importing pandas library

In [1]:
import pandas as pd

## Reading my file

In [2]:
df = pd.read_csv('tn_tomato_price.csv')
df.head()

         date      admin1             admin2           market  price  usdprice
0  2012-04-15  Tamil Nadu            Chennai          Chennai  18.78      0.36
1  2012-04-15  Tamil Nadu           Dindigul         Dindigul  21.61      0.42
2  2012-04-15  Tamil Nadu  Tiruchchirappalli  Thiruchirapalli  21.17      0.41
3  2012-07-15  Tamil Nadu            Chennai          Chennai  25.77      0.47
4  2012-07-15  Tamil Nadu           Dindigul         Dindigul  24.18      0.44

## slicing the dataframe and getting only date and price column

In [3]:
df_price = df[['date','price']].set_index('date')

In [4]:
df_price

            price
date
2012-04-15  18.78
2012-04-15  21.61
2012-04-15  21.17
2012-07-15  25.77
2012-07-15  24.18
...           ...
2021-07-15  19.71
2021-07-15  23.92
2021-07-15  19.74
2021-07-15  20.30
2021-07-15  17.74

[362 rows x 1 columns]

## Calculate rolling mean and standard deviation and Adjust window_size to your desired window size

In [5]:
window_size = 3

## Calculate the rolling mean

In [10]:
df_price['Rolling_Mean'] = df_price['price'].rolling(window=window_size).mean()

## Calculate the rolling standard deviation

In [11]:
df_price['Rolling_Std'] = df_price['price'].rolling(window=window_size).std()

## Seeing the changes in the dataframe

In [12]:
df_price

            price  Rolling_Mean  Rolling_Std
date
2012-04-15  18.78           NaN          NaN
2012-04-15  21.61           NaN          NaN
2012-04-15  21.17     20.520000     1.522859
2012-07-15  25.77     22.850000     2.538346
2012-07-15  24.18     23.706667     2.336243
...           ...           ...          ...
2021-07-15  19.71     17.830000     1.691863
2021-07-15  23.92     20.326667     3.328128
2021-07-15  19.74     21.123333     2.422031
2021-07-15  20.30     21.320000     2.269009
2021-07-15  17.74     19.260000     1.345808

[362 rows x 3 columns]